@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font: Poppins, sans-serif;
$blue_dark: #4464ad;
$blue_light: #a3aff5;
$yellow: #ffbe33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: #2d3747;
}

html {
  min-height: 100%;
}
body {
  font-family: $font;
}
.container {
  padding: 0 1rem 0 1rem;
}

.btn {
  font-size: 1rem;
  margin: 5px;
  background-color: $blue_dark;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
